$max-width: 640px;

$white: #ffffff;
$blue: #3798D4;
$orange: #FF876D;
$yellow: #FCF6C5;
$border-color: #cccccc;
$secondary-text-color: #838180;
$text-color: #bababa;

$border-radius: 4px;

$spacing-unit: 8px;
$spacing-xs: $spacing-unit / 2; // 4px
$spacing-s: $spacing-unit; // 8px
$spacing-m: 2 * $spacing-unit; // 16px
$spacing-l: 3 * $spacing-unit; // 24px

.body-content {
    display: block;
    height: 100%;
}

.user-container {
    margin: 0 auto;
    text-align: center;
}

.username-input {
    margin-right: $spacing-s;
    padding: $spacing-s;
    border: 2px solid $border-color;
    border-radius: $border-radius;
    font-size: 14px;
    flex: 1;
}

.username-submit {
    margin: $spacing-l;
    padding: $spacing-s;
    border: 2px solid #E67E65;
    border-radius: $border-radius;
    background-color: $orange;
    font-size: 14px;
    font-weight: bold;
    color: $white;
    &:hover {
        background-color: #E67E65;
    }
}

.chat-board {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}

.chat-board__title {
    align-self: center;
}

.messages {
    display: flex;
    flex-direction: column;
    max-width: $max-width;
    margin: 0 24px;
    align-items: flex-start;
    justify-items: flex-start;
    @media only screen and (min-width: 768px) {
        margin: 0 auto;
        min-width: 640px;
    }
}

.messages__title {
    margin: 0 0 $spacing-m 0;
    padding: 0;
    font-size: 14px;
    color: $secondary-text-color;
}

.message {
    max-width: 65%;
    margin-bottom: $spacing-s;
    padding: $spacing-m;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $white;
}

.message--personal {
    background-color: $yellow;
    align-self: flex-end;
}

.author {
    font-size: 12px;
    color: $secondary-text-color;
}

.text {
    padding: $spacing-xs 0;
}

.date {
    font-size: 12px;
    color: $secondary-text-color;
}

.chat-form {
    width: 100%;
    margin-top: $spacing-m;
    padding: $spacing-s 0;
    background: $blue;
}

.chat-form__wrapper {
    display: flex;
    max-width: $max-width;
    margin: 0 $spacing-s;
    justify-content: center;
    @media only screen and (min-width: 768px) {
        margin: 0 auto;
    }
}

.add-message {
    margin-right: $spacing-s;
    padding: $spacing-s;
    border: 2px solid #2E76A3;
    border-radius: $border-radius;
    font-size: 14px;
    flex: 1;
}

.send-message {
    padding: $spacing-m;
    border: 2px solid #E67E65;
    border-radius: $border-radius;
    background-color: $orange;
    font-size: 14px;
    font-weight: bold;
    color: $white;
    &:hover {
        background-color: #E67E65;
    }
}
